<!-- start favicons snippet, use https://realfavicongenerator.net/ -->
<link rel="icon" type="image/png" href="/blog/_includes/svg/favicon-96x96.png" sizes="96x96" />
<link rel="icon" type="image/svg+xml" href="/blog/_includes/svg/favicon.svg" />
<link rel="shortcut icon" href="/blog/_includes/svg/favicon.ico" />
<link rel="apple-touch-icon" sizes="180x180" href="/blog/_includes/svg/apple-touch-icon.png" />
<link rel="manifest" href="/blog/_includes/svg/site.webmanifest" />
<!-- end favicons snippet -->